[Unit]
Description=Show the IP address on the I2C Display

[Service]
ExecStart=/usr/bin/python /home/pi/workspace/roboter_teko/ip_addresse.py

[Install]
WantedBy=multi-user.target